[submodule "game/objects/src/googletest"]
	path = game/objects/src/googletest
	url = https://github.com/google/googletest.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
